@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
    font-family: 'Lato', sans-serif;
    padding: 0 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Lato', sans-serif;
    color: #191b2a;
}

/* Header Row Styling */
th {
    background-color: #009879;
    color: white;
    padding: 10px 20px;
}

/* Body Row Styling */
tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* Hover Effect */
tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody tr:hover {
    background-color: #f3f3f3;
}

/* Striped Rows */
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Cell Padding */
td {
    padding: 10px 20px;
}

/* Footer Row Styling */
tfoot td {
    font-weight: bold;
    border-top: 2px solid #009879;
}
img {
    max-width: 30px;
    height: auto;
}
/* Style the dropdown select */
select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    outline: none;
    width: 100%;
}

/* Style the dropdown options */
option {
    padding: 8px;
    background-color: #fff;
    color: #191b2a;
}

/* Add hover effect to dropdown options */
option:hover {
    background-color: #f1f1f1;
}
/* Style the images in the table */
table img {
    transition: transform 0.3s ease-in-out;
    /* Smooth transition */
}

/* Enlarge the image on hover */
table img:hover {
    transform: scale(5);
    /* Adjust the scale value as needed */
    z-index: 1;
    /* Ensure the enlarged image is displayed above other elements */
    position: relative;
}
input[type="number"] {
    text-align: center;
}
#buildQuantity {
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
}
@media (max-width: 768px) {

    /* Adjust the font size and padding for table cells */
    th,
    td {
        font-size: 10px;
        padding: 4px;
    }

    /* Adjust the width of the select (dropdown) and input elements */
    select,
    input[type="number"] {
        width: 100%;
        box-sizing: border-box;
    }

    /* Adjust the size of the images */
    img {
        max-width: 25px;
    }
    /* Decrease the font size for the select (dropdown) and input elements */
    select,
    input[type="number"] {
        font-size: 10px;
        /* Adjust the value as needed */
         }
}
/* New CSS for Build Selector */
#buildSelector {
    text-align: center;
    margin-bottom: 20px;
    /* Adjust as needed */
}

#buildSelector button {
    background-color: #009879;
    /* Adjust color as needed */
    color: #ffffff;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#buildSelector button:hover {
    background-color: #007b63;
    /* Adjust hover color as needed */
}
/* Add this to your existing CSS */
.price {
    white-space: nowrap;
}
/* Prevent line break for price and total price */
.price,
#totalPrice {
    white-space: nowrap;
}